@model List<Core.Enities.TFavoriteNews>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


@{if (Model != null) {

        foreach (var item in Model)
        {
            @item.Link 
            <br>
            @item.TParsedNews.Single().Data
            }
    }
}

    @using (Html.BeginForm(method: FormMethod.Post, actionName: "register", controllerName: "Home"))
            {
        @Html.AntiForgeryToken()

        <div class="form-group has-feedback">
            <input type="text" name="Login" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

            <input type="text" name="favN.Link" />

                <div class="row">
                    <div class="col-xs-5">
                        <a href="@Url.Action("Login", "Account")" class="small">Войти</a>
                    </div>
                    <div class="col-xs-7">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Зарегистрироваться</button>
                    </div>
                </div>
    }
    @*<div class="form-group has-feedback">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", required = "required" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>*@

    <div class="row">
        <div class="col-xs-8">
            @*
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"> Запомнить меня
                    </label>
                </div>
            *@
            <a href="@Url.Action("Register", "Account")" class="small">Зарегистрироваться</a><br>
            <a href="@Url.Action("Restore", "Account")" class="small">Восстановить пароль</a>
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
        </div>
    </div>

    <Script runat=server>
        Sub Session_Add(sender As Object, e As EventArgs)
           Session("MySession") = text1.Value
           span1.InnerHtml = "Session data updated! <P>
                              Your session contains: <font color=red>" +
                              Session("MySession").ToString() + "</font>"
        End Sub

        Sub CheckSession(sender As Object, e As EventArgs)
          If (Session("MySession") = Isnull) Then
            span1.InnerHtml = "NOTHING, SESSION DATA LOST!"
          Else
            span1.InnerHtml = "Your session contains:
                               <font color=red>" +
                               Session("MySession").ToString() + "</font>"
          End If
        End Sub
    </Script>

    <form runat=server>
        <input id=text1 type=text runat=server>
        <input type=submit runat=server
               OnServerClick="Session_Add" Value="Add to Session State">
        <input type=submit runat=server
               OnServerClick="CheckSession" Value="View Session State">
    </form>
    <hr size=1>
    <font size=6><span id=span1 runat=server /></font>
    }